  <div class="tweet">
  <%= link_to 'ツイートする', new_post_path %>
  <br>
  <br>
    <% @posts.each do |post| %>
      <div class="content">
        <%= post.content %>
        <br>
        <%= link_to '詳細', post_path(post.id), class: "nav-link" %>
        <%= link_to '編集', edit_post_path(post.id), data: { confirm: '本当に編集していいですか？' }, class: "nav-link" %>
        <%= link_to '削除', post_path(post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: "nav-link" %>
      </div>
      <br>
    <% end %>
  </div>
