<h1>ツイート一覧</h1>

<table>
  <tr>
    <th>ツイート</th>
    <th>詳細</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= link_to '詳細を確認する', post_path(post.id) %></td>
    <td><%= link_to "ツイートを編集する", edit_post_path(post.id) %></td>
    <td><%= link_to 'ツイートを削除する', post_path(post.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<br>
<%= link_to '新しくツイートする', new_post_path %>
