<!DOCTYPE html>
<html>
  <head>
    <title>Twiclo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header clearfix">
      <nav>
        <ul class="top_menu clearfix">
          <%= link_to "HOME", posts_path, class: "home-link" %>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer">
      <p>Copyright © 2022 HOGE INC All RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
